@{
  Layout = "Views/Shared/_Layout.cshtml";
}
<div class="main-area">
  <h3>Your word is: "<span class="user-input">@Model.GetWordToIdentify()</span>"</h3>
  <h3>Your sentence or phrase is: "<span class="user-input">@Model.GetStringToSearch()</span>"</h3>
  <br>
  <div class="count-container">
    <h3>We found <span class="user-input">@Model.CountRepeats()</span> instances of "<span class="user-input">@Model.GetWordToIdentify()</span>" in your sentence or phrase!</h3>
  </div>
  <form action="/">
    <button type="submit" class="btn app-btn">Return</button>
  </form>
</div>
