@{
  Layout = "Views/Shared/_Layout.cshtml";
}
<div class="main-area">
  <h3>Your word is: "@Model.GetWordToIdentify()"</h3>
  <h3>Your sentence or phrase is: "@Model.GetStringToSearch()"</h3>
  <h3>We found @Model.CountRepeats() instances of "@Model.GetWordToIdentify()" in your sentence or phrase!</h3>
</div>
