.container-banner {
  background-color: steelblue;
  color: white;
}

#banner-title {
  border-bottom: 4px solid plum;
  text-align: center;
  width: 50%;
  min-width: 300px;
  padding: 10px;
  margin: 25px;
}

.main-area {
  padding-top: 35px;
  font-size: 18px;
}

.app-btn {
  border-radius: 0;
  color: #555;
  font-weight: bold;
  font-size: 18px;
  background-color: plum;
}
