.container-banner {
  background-color: steelblue;
  color: white;
}

#banner-title {
  border-bottom: 4px solid hotpink;
  text-align: center;
  width: 50%;
  min-width: 300px;
  padding: 10px;
  margin: 25px;
}

.main-area {
  padding-top: 35px;
  font-size: 18px;
}

.count-container {
  background-color: lightyellow;
  padding: 30px;
  text-align: center;
}

.count-container h3 {
  margin: 0;
  padding: 0;
}

.user-input {
  color: #777;
  border-bottom: 2px solid hotpink;
}

.app-btn {
  border-radius: 0;
  color: #eee;
  font-weight: bold;
  font-size: 18px;
  background-color: seagreen;
  margin-top: 25px;
  width: 100%;
  text-align: center;
}

.app-btn:hover {
  color: hotpink;
}
